@font-face {
    font-family: 'TTNorms';
    src: url('TTNorms-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'TTNorms';
    src: url('TTNorms-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
