@import "../fonts/bebas.css";
@import "../fonts/charis.css";
@import "../fonts/ttnorms.css";
.flex, .book-form .input-container, .menu__list, .header__menu, .header__login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.row {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.grid {
  margin: 0 3%;
  padding: 0 24px;
  height: 100%;
}
.grid__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  margin: 0 -24px;
}

body {
  font-family: "Open sans", sans-serif;
}

.title--welcome {
  font-family: "Charis SIL", Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 121, 147);
}
.title--main {
  margin-top: 2vw;
  color: white;
  font-size: 12vw;
  font-weight: bold;
  font-family: "BebasNeue", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: 3;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
  height: 100%;
  padding: 0 1vw;
  min-height: 2em;
  line-height: 2em;
  display: block;
}
* > a {
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.theme__morning {
  background: hsl(349, 100%, 90%);
}
.theme__morning .title--main {
  text-shadow: 0 1vw 0 #ff8fa3;
}
.theme__morning .circle {
  background-color: #ffb3c1;
}
.theme__morning .socials__link:hover {
  -webkit-box-shadow: 0 12px 0 0 hsla(349, 47%, 13%, 0.25);
  -moz-box-shadow: 0 12px 0 0 hsla(349, 47%, 13%, 0.25);
  box-shadow: 0 12px 0 0 hsla(349, 47%, 13%, 0.25);
}
.theme__morning .input-container > * {
  -webkit-box-shadow: 0 20px 0 0 hsla(349, 47%, 13%, 0.25);
  -moz-box-shadow: 0 20px 0 0 hsla(349, 47%, 13%, 0.25);
  box-shadow: 0 20px 0 0 hsla(349, 47%, 13%, 0.25);
}
.theme__day {
  background: hsl(32, 100%, 90%);
}
.theme__day .title--main {
  text-shadow: 0 1vw 0 #ffcb8f;
}
.theme__day .circle {
  background-color: #ffdbb3;
}
.theme__day .socials__link:hover {
  -webkit-box-shadow: 0 12px 0 0 hsla(32, 47%, 13%, 0.25);
  -moz-box-shadow: 0 12px 0 0 hsla(32, 47%, 13%, 0.25);
  box-shadow: 0 12px 0 0 hsla(32, 47%, 13%, 0.25);
}
.theme__day .input-container > * {
  -webkit-box-shadow: 0 20px 0 0 hsla(32, 47%, 13%, 0.25);
  -moz-box-shadow: 0 20px 0 0 hsla(32, 47%, 13%, 0.25);
  box-shadow: 0 20px 0 0 hsla(32, 47%, 13%, 0.25);
}
.theme__evening {
  background: hsl(255, 100%, 90%);
}
.theme__evening .title--main {
  text-shadow: 0 1vw 0 #ab8fff;
}
.theme__evening .circle {
  background-color: #c6b3ff;
}
.theme__evening .socials__link:hover {
  -webkit-box-shadow: 0 12px 0 0 hsla(255, 47%, 13%, 0.25);
  -moz-box-shadow: 0 12px 0 0 hsla(255, 47%, 13%, 0.25);
  box-shadow: 0 12px 0 0 hsla(255, 47%, 13%, 0.25);
}
.theme__evening .input-container > * {
  -webkit-box-shadow: 0 20px 0 0 hsla(255, 47%, 13%, 0.25);
  -moz-box-shadow: 0 20px 0 0 hsla(255, 47%, 13%, 0.25);
  box-shadow: 0 20px 0 0 hsla(255, 47%, 13%, 0.25);
}

.header {
  background-color: white;
  height: 88px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.header__container {
  font-family: "Open sans", sans-serif;
  position: relative;
  height: inherit;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.header__logo {
  font-weight: bold;
  letter-spacing: 0.5px;
  color: rgb(0, 121, 147);
}
.header__logo:hover {
  color: rgb(137, 202, 211);
}
.header__menu, .header__login {
  font-size: 14px;
}
.header__login {
  margin-left: 2.5vw;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: relative;
}
.header__login:after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgb(137, 202, 211);
  height: 30px;
  width: 1px;
  left: -2.5vw;
}
@media screen and (min-width: 600px) {
  .header {
    height: 74px;
  }
  .header__container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .header__burger {
    display: none;
    visibility: hidden;
  }
  .header__logo {
    color: rgb(70, 70, 70);
  }
}

.burger {
  left: 0;
  position: absolute;
  padding: 8px;
  height: 34px;
  width: 42px;
  cursor: pointer;
}
.burger__buns {
  position: relative;
  height: 18px;
  width: 26px;
}
.burger .bun--top {
  top: 0px;
}
.burger .bun--mid {
  top: 8px;
}
.burger .bun--bot {
  top: 16px;
}
.burger .bun--top, .burger .bun--mid, .burger .bun--bot {
  background-color: rgb(0, 121, 147);
  position: absolute;
  height: 2px;
  width: 100%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.burger:hover [class*=bun--] {
  background-color: rgb(137, 202, 211);
}

.menu {
  color: rgb(70, 70, 70);
  background-color: #ffffff;
  font-family: "TTNorms", serif;
  font-size: 14px;
  font-weight: 400;
}
.menu__list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.menu__item {
  margin: 0 2.5vw;
}
@media screen and (max-width: 600px) {
  .menu {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display: none;
    padding: 16px 0;
    position: absolute;
    top: 74px;
    left: 0;
  }
  .menu__list {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    margin-bottom: 16px;
  }
  .menu__link, .menu .login-link a {
    display: block;
    height: 40px;
    padding: 0 16px;
    line-height: 40px;
  }
  .menu:after {
    content: "smallscreen";
    display: none;
    visibility: hidden;
  }
  .menu .login-link:after {
    width: calc(100% - 2.5vw);
    height: 2px;
    top: -8px;
    left: 0;
  }
}

.main {
  min-height: calc(100vh - 88px);
  margin-top: 88px;
}
.main__titles {
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}
.main__circles {
  bottom: -40vh;
  left: 50%;
  position: absolute;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%) translateZ(0);
  -moz-transform: translate(-50%, -50%) translateZ(0);
  -ms-transform: translate(-50%, -50%) translateZ(0);
  -o-transform: translate(-50%, -50%) translateZ(0);
  transform: translate(-50%, -50%) translateZ(0);
}
@media screen and (min-width: 600px) {
  .main {
    min-height: calc(100vh - 74px);
    margin-top: 74px;
  }
  .main__titles {
    text-align: left;
  }
  .main__circles {
    top: 50%;
    bottom: unset;
  }
}

.section {
  padding: 10vw 0 0;
  position: relative;
  height: 100%;
  min-height: inherit;
  overflow: hidden;
}

.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  width: 100%;
  z-index: 4;
}
.socials__link {
  border: 1px solid rgb(0, 121, 147);
  color: rgb(0, 121, 147);
  padding: 11px;
  margin: 16px 12px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.socials__link img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.socials__link:hover {
  background-color: #ffffff;
  border-color: transparent;
}
@media screen and (min-width: 1200px) {
  .socials {
    position: absolute;
    width: auto;
    right: 4%;
    bottom: 4%;
  }
  .socials__link {
    border-color: transparent;
    padding: 16px;
    margin: 0 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
}

.book-form {
  --border-width: 2px;
  --field-pad-y: 16px;
  width: 100%;
  bottom: 17%;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  padding: 0 24px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 5;
}
.book-form .input-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  height: calc(56px + 26 * (100vw - 300px) / 1800);
}
.book-form .input-container > * {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ffffff;
  border: 0px solid transparent;
  border-bottom-width: var(--border-width);
  height: 100%;
  margin: 0;
  padding: var(--field-pad-y) calc(20px + 12 * (100vw - 300px) / 1800) calc(var(--field-pad-y) - var(--border-width));
  -webkit-transition: border 0.15s ease-in, color 0.15s ease-out;
  -moz-transition: border 0.15s ease-in, color 0.15s ease-out;
  -o-transition: border 0.15s ease-in, color 0.15s ease-out;
  transition: border 0.15s ease-in, color 0.15s ease-out;
}
.book-form__input {
  font-family: "TTNorms", serif;
  font-size: 15px;
  line-height: 20px;
  flex: 5;
}
.book-form__input:focus {
  outline: none;
  border-bottom-color: rgb(0, 121, 147) !important;
}
.book-form__button {
  color: rgb(0, 121, 147);
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  font-family: "BebasNeue", sans-serif;
  text-transform: uppercase;
  flex: 1;
}
.book-form__button:hover, .book-form__button:focus {
  border-bottom-color: rgb(0, 121, 147) !important;
}
.book-form__button:hover {
  color: rgb(137, 202, 211);
}
.book-form__button:focus {
  outline-color: rgb(0, 121, 147);
}

.flower {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 70vh;
  height: 100%;
  width: 100%;
  z-index: 3;
  overflow: hidden;
}
.flower img {
  width: 120%;
}
@media screen and (min-width: 1200px) {
  .flower {
    width: 43%;
    max-height: 73vh;
    overflow: visible;
  }
}
.flower img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-left: -6vw;
}

.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.circle--big {
  position: relative;
  top: 0;
}
.circle--small {
  position: absolute;
  top: 7%;
  right: -4%;
}
@media screen and (max-width: 600px) {
  .circle--big {
    max-width: 110vw;
    max-height: 110vw;
  }
  .circle--small {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
